* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.thumbnail-item img {
  width: 100px;
  cursor: pointer;
}
.thumbnail-item button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
  .thumbnail-item img {
    width: 200px;
  }
}
